* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

.header-area {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 50px 0 99px;
    color: white;
}

.header-area .main-heading {
    font-size: 46px;
    margin-bottom: 15px;
}

.header-area .desc {
    color: rgba(255, 255, 255, 0.8);
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.full-wrapper {
    width: 1260px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    min-height: 100%;
}

.navbar-area {
    margin-top: -49px;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    display: inline-block;
    margin-right: 5px;
}

.navbar ul li a {
    text-decoration: none;
    background-color: #cee2fc;
    padding: 15px 32px;
    display: block;
    color: #242234;
    border-radius: 15px 16px 0 0;
    transition: 0.3s;
}


.navbar ul li a:hover {
    background-color: #ffffff;
}